<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>រមណីយដ្ឋានកំពូលពេជ្រឬអន្លង់ភ្ញៀវ</title>
</head>
<hr color="gold" size="10px" width="100%">
<Marquee bgcolor="yellow" behavior="scroll" scrollmount="1000s"
direction="left" loop="">This is my website[about Takeo.] | Ownership: No.6/Eab Rithea</Marquee>
<style>
    .main {
        text-align: center;
    }

    .marq {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .geek1 {
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding-bottom: 10px;
    }
    .geek2 {
        font-size: 25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        padding-bottom: 10px;
    }
</style>

    </style>
    <div class="main"></div>
        <marquee class="marq" bgcolor="DeepSkyBlue" behavior="alternate" scrollmount="100s"
                 direction="right" loop="">
            <div class="geek1">
               <font face="Kh Battambang"> សូមស្វាគមន៍មកកាន់ខេត្តតាកែវ</font>
            </div>
            <div class="geek2">
                Welcome to Takeo Province
            </div>
        </marquee>
    </div>

<body>
    <style>
        button{
            width: 250px;
            height: 50px;
            border-radius: 5px;
            background-color: gold;
            color: brown;
            margin-top: 5px;
            font-size: 15px;
        }
        button:hover{
            background-color: blue;
            transition: 0.5s;
        }
        .imag{
            border: solid 2px red;
            margin-top: 30px;
            border-radius: 10px;
        }
        #TBtn{
        position: fixed;
        bottom: 200px;
        float: center;
        right: 5px;
        left: 95%;
        max-width: 60px;
        width: 100%;
        font-size: 25px;
        border-color: rgb(255, 166, 0);
        background-color: rgb(255, 251, 0);
        padding: 5px;
        border-radius: 10px;
    }
/*On Hover Color Change*/
    #TBtn:hover {
        background-color: #7ec2f3;
    } 
        
    </style>
<button id="TBtn"><a href="#Top" style="color: rgb(255, 0, 0)">Top</a></button>  
    </style>
    <center>
                  <a href="indexPrac.html" target="_blank"><button><font face="Kh Battambang">Home</font></button></a>    
                  <a href="index02.html" target="_blank"><button><font face="Kh Battambang" color="Red">1.ភ្នំជីសូរ</font></button></a> 
                  <a href="index03.html" target="_blank"><button><font face="Kh Battambang" color="Red">2.ភ្នំដានិងភ្នំអង្គរបុរី</font></button></a>    
                  <a href="index04.html" target="_blank"><button><font face="Kh Battambang" color="Red">3.ភ្នំតាម៉ៅ</font></button></a>   
                  <a href="index05.html" target="_blank"><button><font face="Kh Battambang" color="Red">4.ភ្នំប៉ាយ៉ង់កោ</font></button></a>     
                  <a href="indexo6.html" target="_blank"><button><font face="Kh Battambang" color="Red">5.ភ្នំខ្លែង</font></button></a>    
                  <a href="indexo7.html" target="_blank"><button><font face="Kh Battambang" color="Red">6.ភ្នំជីតាពេជ្រ</font></button></a>     
                  <a href="index08.html" target="_blank"><button><font face="Kh Battambang" color="Red">7.ភ្នំសន្លុង</font></button></a>       
                  <a href="index09.html" target="_blank"><button><font face="Kh Battambang" color="Red">8.ភ្នំពុទ្ធគិរី</font></button></a>      
                  <a href="index10.html" target="_blank"><button><font face="Kh Battambang" color="Red">9.ប្រាសាទជប់ពល</font></button></a>     
                  <a href="index11.html" target="_blank"><button><font face="Kh Battambang" color="Red">10.ប្រាសាទតាព្រហ្មទន្លេបាទី</font></button></a>   
                  <a href="index12.html" target="_blank"><button><font face="Kh Battambang" color="Red">11.ប្រាសាទនាងខ្មៅ</font></button></a>      
                  <a href="index13.html" target="_blank"><button><font face="Kh Battambang" color="Red">12.រមណីយដ្ឋានទន្លេបាទី</font></button></a>     
                  <a href="index14.html" target="_blank"><button><font face="Kh Battambang" color="Red">13.រមណីយដ្ឋានកំពូលពេជ្រឬអន្លង់ភ្ញៀវ</font></button></a>    
                  <a href="index15.html" target="_blank"><button><font face="Kh Battambang" color="Red">14.រមណីយដ្ឋានត្រីមាស</font></button></a>     
                  <a href="index16.html" target="_blank"><button><font face="Kh Battambang" color="Red">15.រមណីយដ្ឋានទឹកជ្រោះផ្អោក</font></a>     
                  <a href="index17.html" target="_blank"><button><font face="Kh Battambang" color="Red">16.ទំនប់ម្លិច</font></button></a>     
                  <a href="index18.html" target="_blank"><button><font face="Kh Battambang" color="Red">17.ទំនប់ត្នោតទេរ</font></button></a>   
                  <a href="index19.html" target="_blank"><button><font face="Kh Battambang" color="Red">18.ទំនប់ខ្ពបត្របែក</font></button></a>   
                  <a href="index20.html" target="_blank"><button><font face="Kh Battambang" color="Red">19.សារមន្ទីរខេត្តតាកែវ</font></button></a>    
                  <a href="index21.html" target="_blank"><button><font face="Kh Battambang" color="Red">20.សារមន្ទីរស្រុកអង្គរបុរី</font></button></a>       
                  <a href="index22.html" target="_blank"><button><font face="Kh Battambang" color="Red">21.តំបន់ការពារទេសភាពបឹងព្រែកល្ពៅ</font></button></a> 
                  <a href="index23.html" target="_blank"><button><font face="Kh Battambang" color="Red">22.ក្រុងដូនកែវ</font></button></a>      
                  <a href="index24.html" target="_blank"><button><font face="Kh Battambang" color="Red">23.ភ្នំចំបាប់</font></button></a>     
                  <a href="index25.html" target="_blank"><button><font face="Kh Battambang" color="Red">24.ស្ពានកំពង់ចក</font></button></a>  
     </center>
     <hr color="red" size="10px" width="100%">
     <center><font face="Khmer OS Muol Light" size="6px" color="red">រមណីយដ្ឋានកំពូលពេជ្រឬអន្លង់ភ្ញៀវ</font></center>

     <blockquote><font face="Kh Battambang" size="4px">រមណីយដ្ឋានកំពូលពេជ្រឬអន្លង់ភ្ញៀវ​ស្ថិតនៅ​មិន​ឆ្ងាយ​ប៉ុន្មាន​ពី​ទី​អារាម​ព្រះពុទ្ធ​សាសនា ដែល​ទាក់​ទាញ​ចិត្ដ​ភ្ញៀវទេសចរ​ភ្លូក​ទឹក​ភ្លូក​ដី ប្រាថ្នា​ចង់​ឃើញ​ពុទ្ធ​បដិមា​រាប់​ម៉ឺន​គង់​សមាធិ​តាម​ជម្រាល​ភ្នំ​រហូត​ដល់​កំពូល 
     រមណីយដ្ឋាន​ទេសចរណ៍​កំពូល​ពេជ្រ ឬ​អន្លង់​ភ្ញៀវ ក៏​កំពុង​ទទួល​បាន​ប្រជា​ប្រិយ​ភាព ចំពោះ​សម្រស់​សួន​ច្បារ​ផ្កា​ភ្ញី​គួប​នឹង​ទេសភាព​ជួរ​ភ្នំ​រលក​រលេញ ក៏​ដូចជា​ក្យូស​លម្ហែ​ប្រប​តាម​មាត់​ទឹក​លើ​ផ្ទៃដី​ដ៏ធំ​ល្វឹង​ល្វើយ។
     ធ្វើ​ដំណើរ​តាមផ្លូវ​ជាតិ ៤១ បត់​ស្ដាំ​តាម​ផ្សារ​ត្រពាំង​អណ្ដើក (បើ​បត់​ឆ្វេង​ផ្សារ​អង្គតាសោម) ចម្ងាយ​ប្រមាណ ១០ គីឡូម៉ែត្រ ផុត​ផ្លូវ​ជាតិ​ចូល​ផ្លូវ​លំ រមណីយដ្ឋាន​កំពូល​ពេជ្រ ស្ថិត​ក្នុង​ភូមិ​អន្លង់​ភ្ញៀវ ឃុំ​ត្រពាំង​គ្រញូង ស្រុក ត្រាំកក់ ខេត្ដ​តាកែវ
     រង់ចាំ​ស្វាគមន៍​ភ្ញៀវ​ជាមួយ​តម្លៃ​សំបុត្រ​រថយន្ដ ២ ម៉ឺន​រៀល​ក្នុង ១ គ្រឿង។ ដោយ​ប្រញាប់​ចង់ឃើញ​ទេសភាព​សួនផ្កា​ឆ្លុះ​ជួរ​ភ្នំ​ពណ៌​បៃតង​ស្រស់ ភ្ញៀវទេសចរ​ជាតិ​ខ្លះ​ម្នីម្នា​រួស​រាន់​សំដៅ​ទី​កាន់​ទីឋាន​ផ្ទាល់ ដើម្បី​បាន​ថតរូប​បង្ហោះ​លើ​បណ្ដាញ​សង្គម​បង្អួត​មិត្ដ​ភក្ដិតៗ​គ្នា។ 
     ចំណែក​ឯ​ភ្ញៀវ​ខ្លះ​ទៀត ដែល​ខំ​ធ្វើ​ដំណើរ​ផ្លូវ​ឆ្ងាយ​ជាង​មួយ​គីឡូម៉ែត្រ ក៏​ឆ្លៀត​ចូល​សម្រាក​កាយ​នៅ​តំបន់​ក្យូស​សង់​ប្រប​មាត់​ទឹក ស្ថិត​នៅ​ខាងស្ដាំ​ពេល​ឆ្លង​កាត់​ខ្លោង​ទ្វារ​បង់​លុយ​តែ​ប្រមាណ ១០០ ម៉ែត្រ។</font></blockquote>
     
     <center><img src="../Tagscode/Image/អន្លង់.jpg"  title="ជ្រកចូលអន្លង់ភ្ញៀវ" width="500px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/អន្លង់ភ្លៀវ១.jpg"  title="អន្លង់ភ្ញៀវ" width="500px" height="550px" hspace="5px" vspace="3px" border="3" >
        <img src="../Tagscode/Image/អន្លង់ភ្ញៀវ៤.jpg"  title="អន្លង់ភ្ញៀវ"  width="500px" height="550px" hspace="5px" vspace="5px" border="3" ></center> <br>


     <blockquote><font face="Kh Battambang" size="4px">រមណីយដ្ឋានបែបធម្មជាតិកែច្នៃមួយកន្លែងក្នុងខេត្តតាកែវ កំពុងទាក់ទាញអ្នកទេសចរមកទស្សនា ដែលមានទេសភាពអមដោយជួរភ្នំព័ទ្ធជុំវិញយ៉ាងស្រស់ស្អាត។ ក្នុងរមណីយដ្ឋាននេះមានសួនកម្សាន្ត
     និងចម្ការដំណាំជាច្រើនប្រភេទនៅតាមជើងភ្នំនិងចង្កេះភ្នំ និងមានគម្រោងសាងសង់កន្លែងកម្សាន្ត កន្លែងងូតទឹកជាច្រើនផ្សេងទៀតផងដែរ។ ក្រៅពីមានទេសភាពដ៏ស្រស់ស្អាតនៅទីនោះ ក៏មានលក់
     អាហារឆ្ងាញ់ៗដ៏សម្បូរបែប ក្នុងតម្លៃសមរម្យទៀតផង។ រមណីដ្ឋានបានត្រូវរៀបចំឡើង នាពាក់ កណ្តាលឆ្នាំ ២០១៧ នៅតំបន់ព្រៃភ្នំ ដែលមានទេសភាពដ៏ស្រស់បំព្រង់គ្រប់រដូវកាល។</font></blockquote>
     
     <center><img src="../Tagscode/Image/អន្លង់ភ្ញៀវ៥.jpg"  title="អន្លង់ភ្ញៀវ" width="500px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/អន្លង.jpg"  title="អន្លង់ភ្ញៀវ" width="500px" height="550px" hspace="5px" vspace="3px" border="3" >
        <img src="../Tagscode/Image/អន្លង់ភ្ញៀវ៦.jpg"  title="អន្លង់ភ្ញៀវ"  width="500px" height="550px" hspace="5px" vspace="5px" border="3" ></center> <br>

     
     <blockquote><font face="Kh Battambang" size="4px">ដោយនៅក្នុងរមណីយដ្ឋាន កំពូលពេជ្រ មានកន្លែងកំសាន្តនិងកន្លែងញ៉ាំអាហារជាច្រើន និងមានទឹកធ្លាក់ដ៏វែងផងដែរ។</font></blockquote>

     <center><img src="../Tagscode/Image/ទឹកជ្រោះអន្លង់ភ្លៀវ១.jpg"  title="ទឹកជ្រោះអន្លង់ភ្លៀវ" width="450px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/ទឹកជ្រោះអន្លង់ភ្លៀវ.jpg"  title="ទឹកជ្រោះអន្លង់ភ្លៀវ" width="450px" height="550px" hspace="5px" vspace="3px" border="3" >
    </center> <br>

        <hr color="gold" size="10px" width="100%">
</html>