<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ភ្នំខ្លែង</title>
</head>
<hr color="gold" size="10px" width="100%">
<Marquee bgcolor="yellow" behavior="scroll" scrollmount="1000s"
direction="left" loop="">This is my website[about Takeo.] | Ownership: No.6/Eab Rithea</Marquee>
<style>
    .main {
        text-align: center;
    }

    .marq {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .geek1 {
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding-bottom: 10px;
    }
    .geek2 {
        font-size: 25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        padding-bottom: 10px;
    }
</style>

    </style>
    <div class="main"></div>
        <marquee class="marq" bgcolor="DeepSkyBlue" behavior="alternate" scrollmount="100s"
                 direction="right" loop="">
            <div class="geek1">
               <font face="Kh Battambang"> សូមស្វាគមន៍មកកាន់ខេត្តតាកែវ</font>
            </div>
            <div class="geek2">
                Welcome to Takeo Province
            </div>
        </marquee>
    </div>



<style>
  button{
      width: 250px;
      height: 50px;
      border-radius: 5px;
      background-color: gold;
      color: brown;
      margin-top: 5px;
      font-size: 15px;
  }
  button:hover{
      background-color: blue;
      transition: 0.5s;
  }
  .imag{
      border: solid 2px red;
      margin-top: 30px;
      border-radius: 10px;
  }
  #TBtn{
        position: fixed;
        bottom: 200px;
        float: center;
        right: 5px;
        left: 95%;
        max-width: 60px;
        width: 100%;
        font-size: 25px;
        border-color: rgb(255, 166, 0);
        background-color: rgb(255, 251, 0);
        padding: 5px;
        border-radius: 10px;
    }
/*On Hover Color Change*/
    #TBtn:hover {
        background-color: #7ec2f3;
    } 
        
    </style>
<button id="TBtn"><a href="#Top" style="color: rgb(255, 0, 0)">Top</a></button>  
</style>
<body>
    <center>
      <a href="indexPrac.html" target="_blank"><button><font face="Kh Battambang">Home</font></button></a>    
      <a href="index02.html" target="_blank"><button><font face="Kh Battambang" color="Red">1.ភ្នំជីសូរ</font></button></a> 
      <a href="index03.html" target="_blank"><button><font face="Kh Battambang" color="Red">2.ភ្នំដានិងភ្នំអង្គរបុរី</font></button></a>    
      <a href="index04.html" target="_blank"><button><font face="Kh Battambang" color="Red">3.ភ្នំតាម៉ៅ</font></button></a>   
      <a href="index05.html" target="_blank"><button><font face="Kh Battambang" color="Red">4.ភ្នំប៉ាយ៉ង់កោ</font></button></a>     
      <a href="index06.html" target="_blank"><button><font face="Kh Battambang" color="Red">5.ភ្នំខ្លែង</font></button></a>    
      <a href="index07.html" target="_blank"><button><font face="Kh Battambang" color="Red">6.ភ្នំជីតាពេជ្រ</font></button></a>     
      <a href="index08.html" target="_blank"><button><font face="Kh Battambang" color="Red">7.ភ្នំសន្លុង</font></button></a>       
      <a href="index09.html" target="_blank"><button><font face="Kh Battambang" color="Red">8.ភ្នំពុទ្ធគិរី</font></button></a>      
      <a href="index10.html" target="_blank"><button><font face="Kh Battambang" color="Red">9.ប្រាសាទជប់ពល</font></button></a>     
      <a href="index11.html" target="_blank"><button><font face="Kh Battambang" color="Red">10.ប្រាសាទតាព្រហ្មទន្លេបាទី</font></button></a>   
      <a href="index12.html" target="_blank"><button><font face="Kh Battambang" color="Red">11.ប្រាសាទនាងខ្មៅ</font></button></a>      
      <a href="index13.html" target="_blank"><button><font face="Kh Battambang" color="Red">12.រមណីយដ្ឋានទន្លេបាទី</font></button></a>     
      <a href="index14.html" target="_blank"><button><font face="Kh Battambang" color="Red">13.រមណីយដ្ឋានកំពូលពេជ្រឬអន្លង់ភ្ញៀវ</font></button></a>    
      <a href="index15.html" target="_blank"><button><font face="Kh Battambang" color="Red">14.រមណីយដ្ឋានត្រីមាស</font></button></a>     
      <a href="index16.html" target="_blank"><button><font face="Kh Battambang" color="Red">15.រមណីយដ្ឋានទឹកជ្រោះផ្អោក</font></a>     
      <a href="index17.html" target="_blank"><button><font face="Kh Battambang" color="Red">16.ទំនប់ម្លិច</font></button></a>     
      <a href="index18.html" target="_blank"><button><font face="Kh Battambang" color="Red">17.ទំនប់ត្នោតទេរ</font></button></a>   
      <a href="index19.html" target="_blank"><button><font face="Kh Battambang" color="Red">18.ទំនប់ខ្ពបត្របែក</font></button></a>   
      <a href="index20.html" target="_blank"><button><font face="Kh Battambang" color="Red">19.សារមន្ទីរខេត្តតាកែវ</font></button></a>    
      <a href="index21.html" target="_blank"><button><font face="Kh Battambang" color="Red">20.សារមន្ទីរស្រុកអង្គរបុរី</font></button></a>       
      <a href="index22.html" target="_blank"><button><font face="Kh Battambang" color="Red">21.តំបន់ការពារទេសភាពបឹងព្រែកល្ពៅ</font></button></a> 
      <a href="index23.html" target="_blank"><button><font face="Kh Battambang" color="Red">22.ក្រុងដូនកែវ</font></button></a>      
      <a href="index24.html" target="_blank"><button><font face="Kh Battambang" color="Red">23.ភ្នំចំបាប់</font></button></a>     
      <a href="index25.html" target="_blank"><button><font face="Kh Battambang" color="Red">24.ស្ពានកំពង់ចក</font></button></a>  
    </center>
    </body>
    <hr color="red" size="10px" width="100%">
    <center><font face="Khmer OS Muol Light" size="6px" color="red">ភ្នំខ្លែង</font></center>

    <blockquote><font face="Kh Battambang" size="4px">វត្តភ្នំខ្លែង​ជា​រមណីយដ្ឋាន​ធម្មជាតិ​កែច្នៃ ជាអារាម សម្រាប់ពុទ្ធសាសនា មានចម្ងាយ ១២ គីឡូម៉ែត្រ ខាងត្បូងខេត្តតាកែវ នៅជាប់ផ្លូវជាតិលេខ២ ។ 
    វត្ត​ភ្នំ​ខ្លែង​ស្ថិត​នៅឃុំ​ព្រៃស្លឹក ស្រុកទ្រាំង ត្រូវ​បាន​កសាង​ឡើង​តាំង​ពី​ឆ្នាំ ១៧៥៣ នៃ​គ្រិស្ត-សករាជ ។ ទី​នេះ​ជា​កន្លែង​បន់​ស្រន់​ពូកែ​ស័ក្តិ​សិទ្ធិ​ណាស់ 
    ហើយ​មាន​មនុស្ស​ចេញ​ចូល​បន់ស្រន់ ឥត​ដាច់ ហើយ​ជារៀង​រាល់​ថ្ងៃបុណ្យ​ទាន​ម្តងៗ​មានមនុស្ស​យ៉ាងច្រើន។ រមណីយដ្ឋាននេះមានទំហំផ្ទៃដី ១១ហិកតា 
    មានភ្នំខ្លែងនៅចំកណ្តាលព័ទ្ធជុំវិញដោយវាលស្រែ។ នៅលើកំពូលភ្នំកំពស់ ៣០ម មានព្រះវិហារកសាង ជាថ្មីនៅឆ្នាំ ១៩៩២។
    បច្ចុប្បន្ននេះ ភ្នំខ្លែងភាគច្រើនបម្រើឲ្យភ្ញៀវទេសចរជាតិ ដែលមានចំណង់ចំនូលចិត្តខាង ការលំហែកម្សាន្ត មានជំនឿ តាមប្រពៃណីជាតិព្រះពុទ្ធសាសនា 
    ក៏ដូចជាបារមីសក្តិសិទ្ធ ដែលគេបានទទួលតាមការឧទ្ទិសបួងសួង។ នៅលើកំពូល ភ្នំនេះ មានថ្មក្រានីតដែលមានប្រភពទឹកជ្រាបចេញគ្រប់រដូវ 
    ដែលគេមានជំនឿថាជាវត្ថុសក្តិសិទ្ធិ។</font></blockquote>

    <center><img src="../Tagscode/Image/kleng5.jpg"  title="ភ្នំខ្លែង" width="500px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/kleng1.jpg"  title="ភ្នំខ្លែង" width="500px" height="550px" hspace="5px" vspace="3px" border="3" >
        <img src="../Tagscode/Image/kleng2.jpg"  title="ភ្នំខ្លែង"  width="500px" height="550px" hspace="5px" vspace="5px" border="3" ></center> <br>

    <blockquote><font face="Kh Battambang" size="4px">វត្តភ្នំខ្លែង គឺជាវត្តមួយតាំងពីសតវត្សទី១៨ និងត្រូវបានសាងសង់ក្នុងទសវត្សឆ្នាំ១៧៥៣ ដោយព្រះសង្ឃដ៏ល្បីម្នាក់។ 
    អរគុណដល់ការគាំទ្រដ៏សប្បុរសរបស់អ្នកស្រុក វត្តនេះបានក្លាយទៅជាកន្លែងដែលគេនិយមមកកម្សាន្តនៅក្នុង ខេត្តតាកែវនេះ។ 
    នៅថ្ងៃចុងសប្តាហ៍ អ្នកស្រុក និងអ្នកមកពីកន្លែងដទៃទៀត ទៅទីនោះដើម្បីបន់ស្រន់សុំសេចក្តីសុខ និងសំណាងល្អ ជាពិសេសអ្នកដែលជឿ លើវត្ថុសក្តិសិទ្ធ។ 
    ទីនេះក៏ជាស្ថានីយបុរាណមួយ ដែលជាប្រាសាទបុរាណ មានសល់រូបតោ ចម្លាក់ និងសន្លឹកសីម៉ាផងដែរ។ ប្រជាជនដែលមានរឿងទំនាស់ផ្សេងៗ 
    តែងតែមកធ្វើសច្ចាប្រណិធាន រកការពិតចំពោះមុខវត្ថុសក្តិសិទ្ធ ឬបួងសួងបន់ ស្រន់ជាប់មិនដាច់ សុំឲ្យមានបរមសុខ និងសុភមង្គល។ ក្នុងខេត្តមានចំនួនជិត
    គេបានយកកន្លែងនេះធ្វើជាមន្ទីរពេទ្យតំបន់ និងជីកយកគ្រួសក្រហមតាមជើងភ្នំ ទៅជួសជុលផ្លូវលំ កសាងប្រព័ន្ធផ្លូវពិសេស។</font></blockquote>

    <center><img src="../Tagscode/Image/kleng3.jpg"  title="ភ្នំខ្លែង" width="500px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/kleng4.jpg"  title="ភ្នំខ្លែង" width="500px" height="550px" hspace="5px" vspace="3px" border="3" >
        <br>

        <hr color="gold" size="10px" width="100%">
</html>