<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ភ្នំសន្លុង</title>
</head>
<hr color="gold" size="10px" width="100%">
<Marquee bgcolor="yellow" behavior="scroll" scrollmount="1000s"
direction="left" loop="">This is my website[about Takeo.] | Ownership: No.6/Eab Rithea</Marquee>
<style>
    .main {
        text-align: center;
    }

    .marq {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .geek1 {
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding-bottom: 10px;
    }
    .geek2 {
        font-size: 25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        padding-bottom: 10px;
    }
</style>

    </style>
    <div class="main"></div>
        <marquee class="marq" bgcolor="DeepSkyBlue" behavior="alternate" scrollmount="100s"
                 direction="right" loop="">
            <div class="geek1">
               <font face="Kh Battambang"> សូមស្វាគមន៍មកកាន់ខេត្តតាកែវ</font>
            </div>
            <div class="geek2">
                Welcome to Takeo Province
            </div>
        </marquee>
    </div>

<style>
  button{
      width: 250px;
      height: 50px;
      border-radius: 5px;
      background-color: gold;
      color: brown;
      margin-top: 5px;
      font-size: 15px;
  }
  button:hover{
      background-color: blue;
      transition: 0.5s;
  }
  .imag{
      border: solid 2px red;
      margin-top: 30px;
      border-radius: 10px;
  }
  #TBtn{
        position: fixed;
        bottom: 200px;
        float: center;
        right: 5px;
        left: 95%;
        max-width: 60px;
        width: 100%;
        font-size: 25px;
        border-color: rgb(255, 166, 0);
        background-color: rgb(255, 251, 0);
        padding: 5px;
        border-radius: 10px;
    }
/*On Hover Color Change*/
    #TBtn:hover {
        background-color: #7ec2f3;
    } 
        
    </style>
<button id="TBtn"><a href="#Top" style="color: rgb(255, 0, 0)">Top</a></button>  
</style>
<body>
    <center>
      <a href="indexPrac.html" target="_blank"><button><font face="Kh Battambang">Home</font></button></a>    
      <a href="index02.html" target="_blank"><button><font face="Kh Battambang" color="Red">1.ភ្នំជីសូរ</font></button></a> 
      <a href="index03.html" target="_blank"><button><font face="Kh Battambang" color="Red">2.ភ្នំដានិងភ្នំអង្គរបុរី</font></button></a>    
      <a href="index04.html" target="_blank"><button><font face="Kh Battambang" color="Red">3.ភ្នំតាម៉ៅ</font></button></a>   
      <a href="index05.html" target="_blank"><button><font face="Kh Battambang" color="Red">4.ភ្នំប៉ាយ៉ង់កោ</font></button></a>     
      <a href="indexo6.html" target="_blank"><button><font face="Kh Battambang" color="Red">5.ភ្នំខ្លែង</font></button></a>    
      <a href="indexo7.html" target="_blank"><button><font face="Kh Battambang" color="Red">6.ភ្នំជីតាពេជ្រ</font></button></a>     
      <a href="index08.html" target="_blank"><button><font face="Kh Battambang" color="Red">7.ភ្នំសន្លុង</font></button></a>       
      <a href="index09.html" target="_blank"><button><font face="Kh Battambang" color="Red">8.ភ្នំពុទ្ធគិរី</font></button></a>      
      <a href="index10.html" target="_blank"><button><font face="Kh Battambang" color="Red">9.ប្រាសាទជប់ពល</font></button></a>     
      <a href="index11.html" target="_blank"><button><font face="Kh Battambang" color="Red">10.ប្រាសាទតាព្រហ្មទន្លេបាទី</font></button></a>   
      <a href="index12.html" target="_blank"><button><font face="Kh Battambang" color="Red">11.ប្រាសាទនាងខ្មៅ</font></button></a>      
      <a href="index13.html" target="_blank"><button><font face="Kh Battambang" color="Red">12.រមណីយដ្ឋានទន្លេបាទី</font></button></a>     
      <a href="index14.html" target="_blank"><button><font face="Kh Battambang" color="Red">13.រមណីយដ្ឋានកំពូលពេជ្រឬអន្លង់ភ្ញៀវ</font></button></a>    
      <a href="index15.html" target="_blank"><button><font face="Kh Battambang" color="Red">14.រមណីយដ្ឋានត្រីមាស</font></button></a>     
      <a href="index16.html" target="_blank"><button><font face="Kh Battambang" color="Red">15.រមណីយដ្ឋានទឹកជ្រោះផ្អោក</font></a>     
      <a href="index17.html" target="_blank"><button><font face="Kh Battambang" color="Red">16.ទំនប់ម្លិច</font></button></a>     
      <a href="index18.html" target="_blank"><button><font face="Kh Battambang" color="Red">17.ទំនប់ត្នោតទេរ</font></button></a>   
      <a href="index19.html" target="_blank"><button><font face="Kh Battambang" color="Red">18.ទំនប់ខ្ពបត្របែក</font></button></a>   
      <a href="index20.html" target="_blank"><button><font face="Kh Battambang" color="Red">19.សារមន្ទីរខេត្តតាកែវ</font></button></a>    
      <a href="index21.html" target="_blank"><button><font face="Kh Battambang" color="Red">20.សារមន្ទីរស្រុកអង្គរបុរី</font></button></a>       
      <a href="index22.html" target="_blank"><button><font face="Kh Battambang" color="Red">21.តំបន់ការពារទេសភាពបឹងព្រែកល្ពៅ</font></button></a> 
      <a href="index23.html" target="_blank"><button><font face="Kh Battambang" color="Red">22.ក្រុងដូនកែវ</font></button></a>      
      <a href="index24.html" target="_blank"><button><font face="Kh Battambang" color="Red">23.ភ្នំចំបាប់</font></button></a>     
      <a href="index25.html" target="_blank"><button><font face="Kh Battambang" color="Red">24.ស្ពានកំពង់ចក</font></button></a>  
    </center>
    <hr color="red" size="10px" width="100%">
    <center><font face="Khmer OS Muol Light" size="6px" color="red">ភ្នំសន្លុង</font></center>

    <blockquote><font face="Kh Battambang" size="4px">ភ្នំសន្លុងមានចម្ងាយប្រមាណជាង២០គីឡូម៉ែត្រពីទីរួមខេត្តតាកែវបើយើងធ្វើដំនើតាមផ្លូវជាតិលេខ២ដល់វិទ្យាល័យថ្នល់បែកសន្លុងបត់ស្តាំប្រហែលជា៦គីឡូម៉ែត្រនឹងបានឃើញភ្នំមួយដ៏ខ្ពស់សន្លឹមបង្អួតខ្លួន
    កណ្តាលអាកាសលម្អរទៅដោយរុក្ខជាតិតូចៗពណ៏ក្រហមលាយខៀវព្រោះតែរងនូវឥទ្ធិពលកម្តៅនៃរដូវប្រាំង នោះគឺជាភ្នំសន្លុងដែលនៅលើកំពូលភ្នំមានព្រះវិហ៊ានិងរូបបដិមារកមួយយ៉ាងធំដែលអាចមើលឃើញយ៉ាងច្បាស់ពីចម្ងាយ។
    ជាភ្នំមួយខ្ពស់សន្លឹមបង្អួតខ្លួនកណ្តាលអាកាស មានកម្ពស់ ៧០ម. លម្អទៅដោយរុក្ខជាតិតូចៗពណ៌ចម្រុះ។ នៅលើកំពូលភ្នំ មានព្រះវិហារនិងរូបបដិមារកមួយយ៉ាងធំដែលអាចមើលឃើញយ៉ាងច្បាស់ពីចម្ងាយ មានព្រះនាម
    «ព្រះអង្គសិលានុភាព»។ នៅលើកំពូលភ្នំនេះ មានសំណល់ប្រាសាទបុរាណពីសម័យមុន ដូចជាមេទ្វារជាថ្មស្រទាប់ ផ្ដែរ និងបំណែកដទៃទៀត។</font></blockquote>

    <center><img src="../Tagscode/Image/ភ្នំសន្លុង៦.jpg"  title="ភ្នំសន្លុង" width="450px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/ភ្នំសន្លុង៥.jpg"  title="ព្រះវិហារភ្នំសន្លុង" width="450px" height="550px" hspace="5px" vspace="3px" border="3" >
        <img src="../Tagscode/Image/ភ្នំសន្លុង២.jpg"  title="ព្រះបដិមាធំភ្នំសន្លុង"  width="450px" height="550px" hspace="5px" vspace="5px" border="3" ></center> <br>
    
    <blockquote><font face="Kh Battambang" size="4px">អ្នកស្រុកជឿថា ឈ្មោះភ្នំ ក្លាយមកពីពាក្យថា ចិនលង់ គឺចិន១សែននាក់លិចលង់សំពៅនៅជិតនេះ 
    ហើយក៏ហៅជា ភ្នំសែនលង់ ឬសន្លុង។ ប៉ុន្តែទាំងអស់នេះគ្រាន់តែជារឿងនិទានតែប៉ុណ្ណោះទេ បើពិនិត្យមើលរចនាបថផ្ដែរដែលមាននៅទីនេះ ធ្លាប់មានប្រាសាទសម័យបុរេអង្គរ សង់នៅទីនោះ។ ទីនេះមាន លោកតា មហាសែន និង 
    លោកយាយ ម៉ៅ ជាអ្នកត្រង់ បង់បត់នៅ គ្រប់គ្រងប្រកបដោយបារមីពូកែសក្ដិសិទ្ធិ។ ភ្នំមានជណ្តើរឡើង ៤៨០កាំ និងផ្លូវក្រាលបេតុង សម្រាប់យានយន្តបរឡើងក៏បានដែរ។ នាសម័យម្ពុជាប្រជាធិបតេយ្យ នៅជើងភ្នំជាមន្ទីរសន្តិសុខ
    ដែលជាទីគេបានសម្លាប់មនុស្សរាប់រយនាក់ ប៉ុន្តែអដ្ឋិធាតុត្រូវបានបាត់បង់អស់ជាច្រើន។</font></blockquote>

    <center><img src="../Tagscode/Image/ភ្នំសន្លុង១.jpg"  title="ជណ្តើរភ្នំសន្លុង" width="450px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/ភ្នំសន្លុង៣.jpg"  title="ចេតិយ" width="450px" height="550px" hspace="5px" vspace="3px" border="3" >
        <img src="../Tagscode/Image/ភ្នំសន្លុង៤.jpg"  title="ចេតិយ"  width="450px" height="550px" hspace="5px" vspace="5px" border="3" ></center> <br>

        <hr color="gold" size="10px" width="100%">
</html>