<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ភ្នំជីសូរ</title>
</head>

<Marquee bgcolor="yellow" behavior="scroll" scrollmount="1000s"
direction="left" loop="">This is my website[about Takeo.] | Ownership: No.6/Eab Rithea</Marquee>
<style>
    button {
      height: 1500px; /* Set body height to demonstrate scrolling */
      font-family: Arial, sans-serif;
    }
    .scroll-btn {
      position: fixed;
      bottom: 200px;
      max-width: 90px;
      right: 30px;
      padding: 5px 5px;
      background-color: #f2ff00;
      border-color: rgb(255, 166, 0);
      color: rgb(238, 0, 0);
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 25px;
    }
  </style>


 <button class="scroll-btn" onclick="scrollDown()">Down</button>

  <script>
    function scrollDown() {
      window.scrollBy({
        top: 10000, // Amount to scroll down
        left: 500,
        behavior: 'smooth' // Smooth scrolling effect
      });
    }
  </script>





<style>
    .main {
        text-align: center;
    }

    .marq {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .geek1 {
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding-bottom: 10px;
    }
    .geek2 {
        font-size: 25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        padding-bottom: 10px;
    }
</style>


    <style>
        button{
            width: 250px;
            height: 50px;
            border-radius: 5px;
            background-color: gold;
            color: brown;
            margin-top: 5px;
            font-size: 15px;
        }
        button:hover{
            background-color: blue;
            transition: 0.5s;
        }
        .imag {
            border: solid 2px red;
            margin-top: 30px;
            border-radius: 10px;
        }
        #TBtn{
        position: fixed;
        bottom: 200px;
        float: center;
        right: 1%;
        left: 90%;
        max-width: 60px;
        width: 100%;
        font-size: 25px;
        border-color: rgb(255, 166, 0);
        background-color: rgb(255, 251, 0);
        padding: 5px;
        border-radius: 10px;
    }
/*On Hover Color Change*/
    #TBtn:hover {
        background-color: #7ec2f3;
    } 
        
    </style>
<button id="TBtn"><a href="#Top" style="color: rgb(255, 0, 0)">Top</a></button>  
    
         
    </style>
    <div class="main"></div>
        <marquee class="marq" bgcolor="DeepSkyBlue" behavior="alternate" scrollmount="100s"
                 direction="right" loop="">
            <div class="geek1">
               <font face="Kh Battambang"> សូមស្វាគមន៍មកកាន់ខេត្តតាកែវ</font>
            </div>
            <div class="geek2">
                Welcome to Takeo Province
            </div>
        </marquee>
    </div>

    <hr color="gold" size="10px" width="100%">
   
        <body>
            <center class="web">
                <a href="indexPrac.html" target="_blank"><button><font face="Kh Battambang">Home</font></button></a>    
                <a href="index02.html" target="_blank"><button><font face="Kh Battambang" color="Red">1.ភ្នំជីសូរ</font></button></a> 
                <a href="index03.html" target="_blank"><button><font face="Kh Battambang" color="Red">2.ភ្នំដានិងភ្នំអង្គរបុរី</font></button></a>    
                <a href="index04.html" target="_blank"><button><font face="Kh Battambang" color="Red">3.ភ្នំតាម៉ៅ</font></button></a>   
                <a href="index05.html" target="_blank"><button><font face="Kh Battambang" color="Red">4.ភ្នំប៉ាយ៉ង់កោ</font></button></a>     
                <a href="indexo6.html" target="_blank"><button><font face="Kh Battambang" color="Red">5.ភ្នំខ្លែង</font></button></a>    
                <a href="indexo7.html" target="_blank"><button><font face="Kh Battambang" color="Red">6.ភ្នំជីតាពេជ្រ</font></button></a>     
                <a href="index08.html" target="_blank"><button><font face="Kh Battambang" color="Red">7.ភ្នំសន្លុង</font></button></a>       
                <a href="index09.html" target="_blank"><button><font face="Kh Battambang" color="Red">8.ភ្នំពុទ្ធគិរី</font></button></a>      
                <a href="index10.html" target="_blank"><button><font face="Kh Battambang" color="Red">9.ប្រាសាទជប់ពល</font></button></a>     
                <a href="index11.html" target="_blank"><button><font face="Kh Battambang" color="Red">10.ប្រាសាទតាព្រហ្មទន្លេបាទី</font></button></a>   
                <a href="index12.html" target="_blank"><button><font face="Kh Battambang" color="Red">11.ប្រាសាទនាងខ្មៅ</font></button></a>      
                <a href="index13.html" target="_blank"><button><font face="Kh Battambang" color="Red">12.រមណីយដ្ឋានទន្លេបាទី</font></button></a>     
                <a href="index14.html" target="_blank"><button><font face="Kh Battambang" color="Red">13.រមណីយដ្ឋានកំពូលពេជ្រឬអន្លង់ភ្ញៀវ</font></button></a>    
                <a href="index15.html" target="_blank"><button><font face="Kh Battambang" color="Red">14.រមណីយដ្ឋានត្រីមាស</font></button></a>     
                <a href="index16.html" target="_blank"><button><font face="Kh Battambang" color="Red">15.រមណីយដ្ឋានទឹកជ្រោះផ្អោក</font></a>     
                <a href="index17.html" target="_blank"><button><font face="Kh Battambang" color="Red">16.ទំនប់ម្លិច</font></button></a>     
                <a href="index18.html" target="_blank"><button><font face="Kh Battambang" color="Red">17.ទំនប់ត្នោតទេរ</font></button></a>   
                <a href="index19.html" target="_blank"><button><font face="Kh Battambang" color="Red">18.ទំនប់ខ្ពបត្របែក</font></button></a>   
                <a href="index20.html" target="_blank"><button><font face="Kh Battambang" color="Red">19.សារមន្ទីរខេត្តតាកែវ</font></button></a>    
                <a href="index21.html" target="_blank"><button><font face="Kh Battambang" color="Red">20.សារមន្ទីរស្រុកអង្គរបុរី</font></button></a>       
                <a href="index22.html" target="_blank"><button><font face="Kh Battambang" color="Red">21.តំបន់ការពារទេសភាពបឹងព្រែកល្ពៅ</font></button></a> 
                <a href="index23.html" target="_blank"><button><font face="Kh Battambang" color="Red">22.ក្រុងដូនកែវ</font></button></a>      
                <a href="index24.html" target="_blank"><button><font face="Kh Battambang" color="Red">23.ភ្នំចំបាប់</font></button></a>     
                <a href="index25.html" target="_blank"><button><font face="Kh Battambang" color="Red">24.ស្ពានកំពង់ចក</font></button></a>  
            </center>
        </body>
        <hr color="red" size="10px" width="100%">
        <center><h2 style="background-color: rgb(255, 214, 49);"><font face="Khmer OS Muol Light" size="6px" color="red">ភ្នំជីសូរ</font></h2></center>
        <blockquote><font face="Kh Battambang" size="4px">ភ្នំជីសូរ ស្ថិតនៅភូមិ ភូមិដក់ពរ ឃុំរៀង ស្រុកសំរោង ខេត្តតាកែវ។ បើធ្វើដំណើរតាមរថយន្ត ពីភ្នំពេញតាមផ្លូវជាតិលេខ២ កាត់តាមស្រុកបាទី 
            និង ប្រាសាទនាងខ្មៅ មានចំងាយ៦២គ.ម ដោយប្រើរយៈពេលប្រហែលមួយម៉ោង រួចបត់ស្តាំចូលតាមផ្លូវលំមួយ មានចំងាយ៥គ.ម ពីផ្លូវជាតិ។ បើធ្វើដំណើរពីទីរួមខេត្ត​មានចំងាយ២៧គ.ម។ ភ្នំជីសូរមានកំពស់ ១៣០ម។
            គេអាចមើលឃើញភ្នំជីសូរតាំងពីច្រកចូលទៅកាន់ភ្នំតាម៉ៅ នៅតាមផ្លូវជាតិលេខ២ ឆ្ពោះទៅទិសខាងត្បូង ប៉ុន្តែភ្ញៀវទេសចរណ៍ត្រូវបន្តដំណើរប្រមាណ ២៥គ.ម ទើបទៅដល់ទីនោះ។ គេអាចមើលឃើញភ្នំជីសូរតាំងពីច្រកចូលទៅ
            កាន់ភ្នំតាម៉ៅ នៅតាមផ្លូវជាតិលេខ២ ឆ្ពោះទៅទិសខាងត្បូង ប៉ុន្តែភ្ញៀវទេសចរណ៍ត្រូវបន្តដំណើរប្រមាណ ២៥គ.ម ទើបទៅដល់ទីនោះ។ នៅលើភ្នំជីសូរ មានប្រាសាទបុរាណមួយថ្វីត្បិតតែមានសភាពបាក់បែកភាគច្រើន 
            ប៉ុន្តែវាមានលក្ខណៈល្អផ្តាច់លើសប្រាសាទនានា នៅក្នុងតំបន់នេះ។ ពីលើកំពូលភ្នំនេះ គេគយគន់មើលទេសភាពវាលស្រែនៅក្នុងខេត្តតាកែវដ៏ល្អប្រណិតគ្រប់ទិសទី។ប្រាសាទភ្នំជីសូរបានស្ថាបនាលើខ្នងភ្នំមួយមានកំពស់
            ៣៨០ម៉ែត្រ នៅដើមសតវត្សរ៍ទី១១ (១០០២-១០៥០) ដោយព្រះបាទសូរ្យវរ្ម័នទី១ សំរាប់ឧទ្ទិសដល់ព្រហ្មញ្ញសាសនា។ ប្រាសាទនេះសាងសង់អំពីថ្មភក់ និងលីប៉ូនីត មានបណ្តោយ ៦០ម និងទទឹង ៥០ម និងមានថែវ២ជាន់ព័ទ្ធជុំវិញ។ 
            ថែវទី២ មានទំហំតូចជាងថែវទី១ និងនៅចំកណ្តាល មានទីសក្តារៈមួយដែលសំខាន់ ហោយមានទ្វារឆ្លាស់ពីរ ខាងក្នុងមានបដិមាមួយធ្វើអំពីឈើ។ ដោយឡែកទៀត គេប្រទះឃើញក្បាច់ចំលាក់យ៉ាងល្អប្រណិតនៅផ្តែរ និងសរសរពេជ្រ។</font></blockquote>
           <center> <img src="../Tagscode/Image/Jiso.jpg"  title="ភ្នំជីសូរ"  width="450px" height="500px" hspace="5px" vspace="5px" border="3" >
            <img src="../Tagscode/Image/stairJiso.jpg"  title="ជណ្តើរ"  width="450px" height="500px" hspace="5px" vspace="3px" border="3" >
            <img src="../Tagscode/Image/TempleJiso.jpg"  title="ប្រាសាទភ្នំជីសូរ" width="550px" height="500px" hspace="5px" vspace="5px" border="3" ></center>

            <blockquote><font face="Kh Battambang" size="4px">
            គេនិយមឡើងលើភ្នំជីសូរ តាមជណ្តើរថ្មខាងលិច​ដែលមានចំនួន៣៩០កាំហើយ ចុះតាមជណ្តើរខាងត្បូង ដែលមាន៤០៨កាំ។ នៅចំមុខប្រាសាទមានក្លោងទ្វារ និងមានជណ្តើរមួយទៀត សាងសង់តាំងពីសម័យកសាងប្រាសាទដែលភ្ជាប់ទៅប្រាសាទសែន
            និងប្រាសាទភូវាំង និងទន្លេអ៊ុំ ដែលជាបឹងកាលពីអតីតកាល ដែលគេចាត់ទុកជាបឹងដ៏ពិសិដ្ឋ សំរាប់ធ្វើពិធីងូតទឹក​លាងបាប​តាមលទ្ធិព្រាហ្មញ្ញសាសនា។ ក្រៅពីនេះ​នៅមានប្រាសាទជាច្រើនទៀតដ៏ទូលាយ បែរមុខទៅទិសខាងកើត និងពាយ័ព្យ 
            មានបណ្តោយប្រវែង​១០០ម និង ទទឹង៨០ម។ មួយផ្នែកធំនៃប្រាសាទភ្នំជីសូរត្រូវបានខូចខាត។</font></blockquote>
            <center><img src="../Tagscode/Image/om.jpg"  title="1.ភ្នំជីសូរ"  width="450px" height="500px" hspace="5px" vspace="5px" border="3" >
            <img src="../Tagscode/Image/jiso2.jpg"  title="ជណ្តើរ" width="450px" height="500px" hspace="5px" vspace="3px" border="3" >
            <img src="../Tagscode/Image/Jiso1.jpg"  title="1.ភ្នំជីសូរ"  width="450px" height="500px" hspace="5px" vspace="3px" border="3" > <br></center>

            <blockquote><font face="Kh Battambang" size="4px">នៅប៉ែកខាងត្បូងនៃប្រាសាទ មានព្រះវិហារពុទ្ធសាសនា​សង់ថ្មីមួយ និងនៅខាងក្រោយ មានសាលាធម្មសភាមួយខ្នង​ដែលមានកុដិព្រះសង្ឃ និងមានទីសក្ការៈតូចមួយទៀត ហើយ​មានអាងទឹកចំណាស់មួយធ្វើអំពីបេតុងជាថ្នាក់ៗ។</font></blockquote>
            <center><img src="../Tagscode/Image/sala.jpg"  title="សាលាធម្មសភា"  width="450px" height="400px" hspace="5px" vspace="5px" border="3" >
            <img src="../Tagscode/Image/New.png"  title="ព្រះវិហារ"  width="450px" height="400px" hspace="5px" vspace="3px" border="3" >
            <img src="../Tagscode/Image/Srak.jpg"  title="អាងស្រះទឹកលើភ្នំ"  width="550px" height="400px" hspace="5px" vspace="5px" border="3" ></center><br>

            <blockquote><font face="Kh Battambang" size="4px">ភ្នំជីសូរជារមណីដ្ឋានទេសចរណ៍ប្រវត្តិសាស្រ្តរបស់ខេត្តតាកែវ។ មណ្ឌលនេះបាន និង​ កំពុងឆ្លុះបញ្ជាំងនូវប្រាសាទបុរាណដែលមានកេរ្តិ៍ដំណែល​វប្បធម៌ អរិយធម៌បេតិកភ័ណ្ឌជាតិខ្មែរ គួបផ្សំនឹងទស្សនីយភាពធម្មជាតិ និងសមិទ្ធិផលសង្គមផ្សេងៗទៀតក្នុងនោះមានជាអាទិ៍ 
            គឺវត្តភ្នំជីសូរ។ ក្រៅពីនោះគេឃើញមានរូងវិមានច័ន្ទ ស្ថិតនៅ​ប្រមាណ១៥០ម ពីខាងត្បូងប្រាសាទភ្នំជីសូរ។ រូងធម្មជាតិនេះមានតាំងពីយូរយាណាស់មកហើយ។ វាជាទីស្ងាត់សំរាប់ពួកសមណៈព្រាហ្មណ៍តាំងសមាធិ​ឬសំរាប់អ្នកធ្វើធូតុង្គដើរចង្រ្គមភាវនាធម៌។ 
            កាលពីសម័យសង្រ្គាមក្នុងឆ្នាំ១៩៧០​មានការទំលាក់គ្រាប់បែកយ៉ាងខ្លាំងបណ្តាលអោយរូងនេះ ត្រូវបិទជិតដោយដុំថ្មធំៗ​មិនអាចចេញចូលបានទៀតឡើយ។</font></blockquote>
            <center><img src="../Tagscode/Image/photo_2024-09-05_21-27-33.jpg"  title="ប្រាសាទ" width="450px" height="400px" hspace="5px" vspace="3px" border="3" >
             <img src="../Tagscode/Image/temple2.jpg"  title="ប្រាសាទ"  width="450px" height="400px" hspace="5px" vspace="3px" border="3">
            <img src="../Tagscode/Image/cave.jpg"  title="រូងភ្នំវិមានច័ន្ទ"  width="550px" height="400px" hspace="5px" vspace="3px" border="3" ></center> <br>

            <blockquote><font face="Kh Battambang" size="4px">បន្ទាប់ពីដើរមើលប្រាសាទ ភ្ញៀវទេសចរក៏អាចមកខាងក្រោម ដើម្បីបរិភោគអាហារពេលថ្ងៃត្រង់ ជាមួយមាន់ដុតខេត្តតាកែវ ដែលជាមាន់ស្រែមានរសជាតិឆ្ងាញ់​ ភ្នំជីសូរគឺជាកន្លែងដែលពេញនិយមសម្រាប់ប្រជាជននៅក្នុងតំបន់ ក្នុងការលំហែរកាយ នៅរដូវបុណ្យទានដូចជា ចូលឆ្នាំខ្មែរ ភ្ជុំបិណ្ឌ
                និងថ្ងៃឈប់សម្រាកជាដើម។</font> </blockquote>
                <center><img src="../Tagscode/Image/Chicken.jpg"  title="មាន់ដុតភ្នំជីសូរឆ្ងាញ់"  width="350px" height="400px" hspace="5px" vspace="5px" border="3" >
                <img src="../Tagscode/Image/chickenpro.jpg"  title="មាន់ដុតឈ្លុយ" width="350px" height="400px" hspace="5px" vspace="3px" border="3" >
                <img src="../Tagscode/Image/solft.jpg"  title="មាន់ដុត"  width="350px" height="400px" hspace="5px" vspace="5px" border="3" >
                <img src="../Tagscode/Image/dek.jpg"  title="អង្រឹងលំហែរ"  width="350px" height="400px" hspace="5px" vspace="5px" border="3" ></center>

                <blockquote><font face="Kh Battambang" size="4px">រូបភាពបន្ថែមនៃភ្នំជីសូរ និងជីតាពេជ្រ។</font></blockquote>
                <center><img src="../Tagscode/Image/JiTaPich.jpg"  title="ជីតាពេជ្រ"  width="450px" height="400px" hspace="5px" vspace="5px" border="3" >
                <img src="../Tagscode/Image/JiTapich1.jpg"  title="ជីតាពេជ្រ"  width="450px" height="400px" hspace="5px" vspace="3px" border="3" >
                <img src="../Tagscode/Image/JiTapich2.jpg"  title="ជីតាពេជ្រ"  width="450px" height="400px" hspace="5px" vspace="5px" border="3" >
                <img src="../Tagscode/Image/JiTapich3.jpg"  title="ជីតាពេជ្រ"  width="450px" height="400px" hspace="5px" vspace="3px" border="3" >
                <img src="../Tagscode/Image/JiTapich4.jpg"  title="ជីតាពេជ្រ"  width="450px" height="400px" hspace="5px" vspace="5px" border="3" ></center>

                <hr color="gold" size="10px" width="100%">

</html>
