<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ប្រាសាទនាងខ្មៅ</title>
</head>
<hr color="gold" size="10px" width="100%">
<Marquee bgcolor="yellow" behavior="scroll" scrollmount="1000s"
direction="left" loop="">This is my website[about Takeo.] | Ownership: No.6/Eab Rithea</Marquee>
<style>
    .main {
        text-align: center;
    }

    .marq {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .geek1 {
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding-bottom: 10px;
    }
    .geek2 {
        font-size: 25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        padding-bottom: 10px;
    }
</style>

    </style>
    <div class="main"></div>
        <marquee class="marq" bgcolor="DeepSkyBlue" behavior="alternate" scrollmount="100s"
                 direction="right" loop="">
            <div class="geek1">
               <font face="Kh Battambang"> សូមស្វាគមន៍មកកាន់ខេត្តតាកែវ</font>
            </div>
            <div class="geek2">
                Welcome to Takeo Province
            </div>
        </marquee>
    </div>

<body>
    <style>
        button{
            width: 250px;
            height: 50px;
            border-radius: 5px;
            background-color: gold;
            color: brown;
            margin-top: 5px;
            font-size: 15px;
        }
        button:hover{
            background-color: blue;
            transition: 0.5s;
        }
        .imag{
            border: solid 2px red;
            margin-top: 30px;
            border-radius: 10px;
        }
        #TBtn{
        position: fixed;
        bottom: 200px;
        float: center;
        right: 5px;
        left: 95%;
        max-width: 60px;
        width: 100%;
        font-size: 25px;
        border-color: rgb(255, 166, 0);
        background-color: rgb(255, 251, 0);
        padding: 5px;
        border-radius: 10px;
    }
/*On Hover Color Change*/
    #TBtn:hover {
        background-color: #7ec2f3;
    } 
        
    </style>
<button id="TBtn"><a href="#Top" style="color: rgb(255, 0, 0)">Top</a></button>  
    </style>
    <center>
                  <a href="indexPrac.html" target="_blank"><button><font face="Kh Battambang">Home</font></button></a>    
                  <a href="index02.html" target="_blank"><button><font face="Kh Battambang" color="Red">1.ភ្នំជីសូរ</font></button></a> 
                  <a href="index03.html" target="_blank"><button><font face="Kh Battambang" color="Red">2.ភ្នំដានិងភ្នំអង្គរបុរី</font></button></a>    
                  <a href="index04.html" target="_blank"><button><font face="Kh Battambang" color="Red">3.ភ្នំតាម៉ៅ</font></button></a>   
                  <a href="index05.html" target="_blank"><button><font face="Kh Battambang" color="Red">4.ភ្នំប៉ាយ៉ង់កោ</font></button></a>     
                  <a href="indexo6.html" target="_blank"><button><font face="Kh Battambang" color="Red">5.ភ្នំខ្លែង</font></button></a>    
                  <a href="indexo7.html" target="_blank"><button><font face="Kh Battambang" color="Red">6.ភ្នំជីតាពេជ្រ</font></button></a>     
                  <a href="index08.html" target="_blank"><button><font face="Kh Battambang" color="Red">7.ភ្នំសន្លុង</font></button></a>       
                  <a href="index09.html" target="_blank"><button><font face="Kh Battambang" color="Red">8.ភ្នំពុទ្ធគិរី</font></button></a>      
                  <a href="index10.html" target="_blank"><button><font face="Kh Battambang" color="Red">9.ប្រាសាទជប់ពល</font></button></a>     
                  <a href="index11.html" target="_blank"><button><font face="Kh Battambang" color="Red">10.ប្រាសាទតាព្រហ្មទន្លេបាទី</font></button></a>   
                  <a href="index12.html" target="_blank"><button><font face="Kh Battambang" color="Red">11.ប្រាសាទនាងខ្មៅ</font></button></a>      
                  <a href="index13.html" target="_blank"><button><font face="Kh Battambang" color="Red">12.រមណីយដ្ឋានទន្លេបាទី</font></button></a>     
                  <a href="index14.html" target="_blank"><button><font face="Kh Battambang" color="Red">13.រមណីយដ្ឋានកំពូលពេជ្រឬអន្លង់ភ្ញៀវ</font></button></a>    
                  <a href="index15.html" target="_blank"><button><font face="Kh Battambang" color="Red">14.រមណីយដ្ឋានត្រីមាស</font></button></a>     
                  <a href="index16.html" target="_blank"><button><font face="Kh Battambang" color="Red">15.រមណីយដ្ឋានទឹកជ្រោះផ្អោក</font></a>     
                  <a href="index17.html" target="_blank"><button><font face="Kh Battambang" color="Red">16.ទំនប់ម្លិច</font></button></a>     
                  <a href="index18.html" target="_blank"><button><font face="Kh Battambang" color="Red">17.ទំនប់ត្នោតទេរ</font></button></a>   
                  <a href="index19.html" target="_blank"><button><font face="Kh Battambang" color="Red">18.ទំនប់ខ្ពបត្របែក</font></button></a>   
                  <a href="index20.html" target="_blank"><button><font face="Kh Battambang" color="Red">19.សារមន្ទីរខេត្តតាកែវ</font></button></a>    
                  <a href="index21.html" target="_blank"><button><font face="Kh Battambang" color="Red">20.សារមន្ទីរស្រុកអង្គរបុរី</font></button></a>       
                  <a href="index22.html" target="_blank"><button><font face="Kh Battambang" color="Red">21.តំបន់ការពារទេសភាពបឹងព្រែកល្ពៅ</font></button></a> 
                  <a href="index23.html" target="_blank"><button><font face="Kh Battambang" color="Red">22.ក្រុងដូនកែវ</font></button></a>      
                  <a href="index24.html" target="_blank"><button><font face="Kh Battambang" color="Red">23.ភ្នំចំបាប់</font></button></a>     
                  <a href="index25.html" target="_blank"><button><font face="Kh Battambang" color="Red">24.ស្ពានកំពង់ចក</font></button></a> 
                   <a href="index26.html" target="_blank"><button><font face="Kh Battambang" color="Red">25.បុកល្ហុងចុងត្នោត</font></button></a> 
     </center>
     <hr color="red" size="10px" width="100%">
     <center><font face="Khmer OS Muol Light" size="6px" color="red">ប្រាសាទនាងខ្មៅ</font></center>

     <blockquote><font face="Kh Battambang" size="4px"> ប្រាសាទនាងខ្មៅ ជា​ប្រាសាទ​បុរាណ​សាងសង់​ឡើង​អំពី​ថ្មភក់ និង​ឥដ្ឋ ក្នុង​រចនាបថ​កោះកែ សម័យ​អង្គរ​សតវត្ស​ទី​១០​ក្នុង​រាជ​ព្រះបាទ​ជ័យ​វរ្ម័ន​ទី​៤
     នៃ​គ្រឹ​ស្ត​សករាជ ដើម្បី​ឧទ្ទិស​ថ្វាយ​ដល់​ព្រះ​ឥសូរ​ក្នុង​ព្រហ្មញ្ញសាសនា ។ 
     ប្រាសាទ​នេះ ​មាន​ទីតាំង​ស្ថិត​នៅ​ឃុំរ​វៀង ស្រុក​សំរោង ខេត្តតាកែវ ជាប់​ផ្លូវជាតិ​លេខ​២ ចម្ងាយ​ប្រមាណ​៥២​គីឡូម៉ែត្រ​ពី​ភាគ​ខាងត្បូង រាជ​ភ្នំពេញ ២៧​គីឡូម៉ែត្រ​ពី​ទីរួមខេត្ត​តាកែវ និង​៣​គីឡូ​ម៉ែត្រ​​​ ពី​ភ្នំ​ជី​សូរ ។
     ប្រាសាទនាងខ្មៅ មានទីតាំងស្ថិតនៅក្នុងបរិវេណវត្តប្រាសាទនាងខ្មៅ  ដែលមានចម្ងាយ ៥០ គីឡូម៉ែត្រពីធានីភ្នំពេញ។</font></blockquote>

     <center><img src="../Tagscode/Image/នាងខ្មៅ១.jpg"  title="ក្លោងទ្ធារវត្តប្រាសាទនាងខ្មៅ" width="450px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/នាងខ្មៅ៤.jpg"  title="វិហារវត្តនាងខ្មៅ" width="500px" height="550px" hspace="5px" vspace="3px" border="3" >
        <img src="../Tagscode/Image/នាងខ្មៅ៣.jpg"  title="ប្រាសាទនាងខ្មៅ"  width="500px" height="550px" hspace="5px" vspace="5px" border="3" ></center> <br>

    <blockquote><font face="Kh Battambang" size="4px">ប្រាសាទនេះ គឺជាបូជនីយដ្ឋានដ៏ស័ក្តសិទ្ធមួយ ដែលត្រូវបានប្រជាជន អ្នកស្រុកគោរពបូជារហូតដល់បច្ចុប្បន្ន។
    ប្រាសាទនាងខ្មៅត្រូវសាង សង់អំពីថ្មភក់ និង ឥដ្ឋ តាមរចនាបទកោះកែ ជាស្នាព្រះហស្តរបស់ព្រះបាទជ័យវរ្ម័នទី ៤ ក្នុងសតវត្សរ៍ទី ១០ នៃគ្រិស្តសករាជ ( ៩២១ ដល់ ៩៤១ ) ឧទ្ទិសដល់ព្រហ្មញសាសនា ។ 
    ប្រាសាទនេះមានប្រាង្គចំនួនបីសង់ទន្ទឹមគ្នា ។ ប្រាសាទនាងខ្មៅក៏ដូចជាប្រាសាទមួយចំនួនតូចឯទៀតដែរ ដែលត្រូវបានសាងសង់ឡើងដោយឥដ្ឋនាស.វទី១០ ។
    បានជា​ហៅ​ថាវ​ត្ដ​ប្រាសាទនាងខ្មៅ ព្រោះ​ក្នុង​វត្ដ​នោះ​មាន​ប្រាសាទបុរាណ​ពីរ ឈ្មោះ​ប្រាសាទនាងខ្មៅ នៅ​ខាងលិច​វិហារ ចំ​ខ្លោងទ្វារវត្ដ​ទិសបស្ចឹម​។ ប្រាសាទ​ទាំង​ពីរ​នោះ​ធ្វើ​ពី​ថ្ម​ផង ឥដ្ឋ​ផង 
    ទំហំ​៤​ម៉ែត្រ​៤​ជ្រុង កម្ពស់​១០​ម៉ែត្រ កំពូល​ស្រួច​ដូច​ចេតិយ​ខ្ពស់ត្រដែត ។</font></blockquote>

        <center><img src="../Tagscode/Image/នាងខ្មៅ២.jpg"  title="ប្រាសាទនាងខ្មៅ" width="400px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/នាងខ្មៅ.jpg"  title="ប្រាសាទនាងខ្មៅ" width="500px" height="550px" hspace="5px" vspace="3px" border="3" >
        <img src="../Tagscode/Image/នាងខ្មៅ៦.jpg"  title="ទិដ្ឋភាពប្រាសាទនាងខ្មៅ"  width="500px" height="550px" hspace="5px" vspace="5px" border="3" ></center> <br>

        <hr color="gold" size="10px" width="100%">
 
</html>