<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ភ្នំជីតាពេជ្រ</title>
</head>
<hr color="gold" size="10px" width="100%">
<Marquee bgcolor="yellow" behavior="scroll" scrollmount="1000s"
direction="left" loop="">This is my website[about Takeo.] | Ownership: No.6/Eab Rithea</Marquee>
<style>
    .main {
        text-align: center;
    }

    .marq {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .geek1 {
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding-bottom: 10px;
    }
    .geek2 {
        font-size: 25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        padding-bottom: 10px;
    }
</style>

    </style>
    <div class="main"></div>
        <marquee class="marq" bgcolor="DeepSkyBlue" behavior="alternate" scrollmount="100s"
                 direction="right" loop="">
            <div class="geek1">
               <font face="Kh Battambang"> សូមស្វាគមន៍មកកាន់ខេត្តតាកែវ</font>
            </div>
            <div class="geek2">
                Welcome to Takeo Province
            </div>
        </marquee>
    </div>



  <style>
    button{
        width: 250px;
        height: 50px;
        border-radius: 5px;
        background-color: gold;
        color: brown;
        margin-top: 5px;
        font-size: 15px;
    }
    button:hover{
        background-color: blue;
        transition: 0.5s;
    }
    .imag{
        border: solid 2px red;
        margin-top: 30px;
        border-radius: 10px;
    }
    #TBtn{
        position: fixed;
        bottom: 200px;
        float: center;
        right: 5px;
        left: 95%;
        max-width: 60px;
        width: 100%;
        font-size: 25px;
        border-color: rgb(255, 166, 0);
        background-color: rgb(255, 251, 0);
        padding: 5px;
        border-radius: 10px;
    }
/*On Hover Color Change*/
    #TBtn:hover {
        background-color: #7ec2f3;
    } 
        
    </style>
<button id="TBtn"><a href="#Top" style="color: rgb(255, 0, 0)">Top</a></button>  

</style>
    <center>
      <a href="indexPrac.html" target="_blank"><button><font face="Kh Battambang">Home</font></button></a>    
      <a href="index02.html" target="_blank"><button><font face="Kh Battambang" color="Red">1.ភ្នំជីសូរ</font></button></a> 
      <a href="index03.html" target="_blank"><button><font face="Kh Battambang" color="Red">2.ភ្នំដានិងភ្នំអង្គរបុរី</font></button></a>    
      <a href="index04.html" target="_blank"><button><font face="Kh Battambang" color="Red">3.ភ្នំតាម៉ៅ</font></button></a>   
      <a href="index05.html" target="_blank"><button><font face="Kh Battambang" color="Red">4.ភ្នំប៉ាយ៉ង់កោ</font></button></a>     
      <a href="index06.html" target="_blank"><button><font face="Kh Battambang" color="Red">5.ភ្នំខ្លែង</font></button></a>    
      <a href="index07.html" target="_blank"><button><font face="Kh Battambang" color="Red">6.ភ្នំជីតាពេជ្រ</font></button></a>     
      <a href="index08.html" target="_blank"><button><font face="Kh Battambang" color="Red">7.ភ្នំសន្លុង</font></button></a>       
      <a href="index09.html" target="_blank"><button><font face="Kh Battambang" color="Red">8.ភ្នំពុទ្ធគិរី</font></button></a>      
      <a href="index10.html" target="_blank"><button><font face="Kh Battambang" color="Red">9.ប្រាសាទជប់ពល</font></button></a>     
      <a href="index11.html" target="_blank"><button><font face="Kh Battambang" color="Red">10.ប្រាសាទតាព្រហ្មទន្លេបាទី</font></button></a>   
      <a href="index12.html" target="_blank"><button><font face="Kh Battambang" color="Red">11.ប្រាសាទនាងខ្មៅ</font></button></a>      
      <a href="index13.html" target="_blank"><button><font face="Kh Battambang" color="Red">12.រមណីយដ្ឋានទន្លេបាទី</font></button></a>     
      <a href="index14.html" target="_blank"><button><font face="Kh Battambang" color="Red">13.រមណីយដ្ឋានកំពូលពេជ្រឬអន្លង់ភ្ញៀវ</font></button></a>    
      <a href="index15.html" target="_blank"><button><font face="Kh Battambang" color="Red">14.រមណីយដ្ឋានត្រីមាស</font></button></a>     
      <a href="index16.html" target="_blank"><button><font face="Kh Battambang" color="Red">15.រមណីយដ្ឋានទឹកជ្រោះផ្អោក</font></a>     
      <a href="index17.html" target="_blank"><button><font face="Kh Battambang" color="Red">16.ទំនប់ម្លិច</font></button></a>     
      <a href="index18.html" target="_blank"><button><font face="Kh Battambang" color="Red">17.ទំនប់ត្នោតទេរ</font></button></a>   
      <a href="index19.html" target="_blank"><button><font face="Kh Battambang" color="Red">18.ទំនប់ខ្ពបត្របែក</font></button></a>   
      <a href="index20.html" target="_blank"><button><font face="Kh Battambang" color="Red">19.សារមន្ទីរខេត្តតាកែវ</font></button></a>    
      <a href="index21.html" target="_blank"><button><font face="Kh Battambang" color="Red">20.សារមន្ទីរស្រុកអង្គរបុរី</font></button></a>       
      <a href="index22.html" target="_blank"><button><font face="Kh Battambang" color="Red">21.តំបន់ការពារទេសភាពបឹងព្រែកល្ពៅ</font></button></a> 
      <a href="index23.html" target="_blank"><button><font face="Kh Battambang" color="Red">22.ក្រុងដូនកែវ</font></button></a>      
      <a href="index24.html" target="_blank"><button><font face="Kh Battambang" color="Red">23.ភ្នំចំបាប់</font></button></a>     
      <a href="index25.html" target="_blank"><button><font face="Kh Battambang" color="Red">24.ស្ពានកំពង់ចក</font></button></a>  
    </center>  
   
    <hr color="red" size="10px" width="100%">
    <center><font face="Khmer OS Muol Light" size="6px" color="red">ភ្នំជីតាពេជ្រ</font></center>
    
    <blockquote><font face="Kh Battambang" size="4px">ភ្នំជីតាពេជ្រមានទីតាំងស្ថិតនៅក្នុងភូមិ វត្តភ្នំ ឃុំកំពែង ស្រុកគិរីវង់ ខេត្តតាកែវ មានចម្ងាយ២៥គីឡូម៉ែត្រពីផ្លូវជាតិលេខ២ត្រង់ចំណុចវត្តឧទ្ទម្ពរខាងជើងផ្សារទន្លាប់១០០ម៉ែត្រឆ្ពោះទៅទិសខាងលិច 
    និង៦៥គីឡូម៉ែត្រពីក្រុងដូនកែវ។ រមណីយដ្ឋាននេះ ផ្តើមកសាងឡើងដោយឧបាសិកា តាន់ វិចហុង ដោយចំណាយអស់ទឹកប្រាក់សរុបចំនួន៤៩៥ ០០០ដុល្លារសហរដ្ឋអាមេរិក 
    ចំណាយទៅលើការកសាងជណ្តើរបេតុងឡើងលើកំពូលភ្នំប្រវែង១៧០ម៉ែត្រស្មើនឹង២៤៣កាំ សាលាដំណាក់ចំនួន៤ បន្ទប់អនាម័យ ព្រះពុទ្ធរូបអង្គតូច១ធ្វើអំពីថ្មភក់ រូបសំណាកតាបស១អង្គធ្វើពីថ្មភក់ 
    និងរូបសំណាកព្រះពុទ្ធទ្រង់ឈរលើបល្ល័ង្កនៅលើកំពូល ភ្នំកម្ពស់១៣.៥០ម៉ែត្រធ្វើអំពីថ្មភក់។ភ្នំជីតាពេជ្រ ជាទីតាំងបុរាណ និងជាដែនដីសុវណ្ណភូមិ ក៏ជាដែនដីនគរភ្នំ (ហ៊្វូណន) 
    ម្យ៉ាងជាទីកន្លែងសក្ការៈដ៏ស័ក្តិសិទ្ធិសម្រាប់បន់ស្រន់សុំទឹកភ្លៀង តាំងពីដើមរៀងមក។  ។ ភ្នំនេះមានកាំជណ្តើរបេតុងឡើងលើកំពូលភ្នំប្រវែង 170ម៉ែត្រ ស្មើនឹង 243កាំ ព្រមទាំងមានសង់ព្រះពុទ្ធបដិមា 
    មួយអង្គយ៉ាងធំ នៅលើកំពូលភ្នំ កម្ពស់5ម៉ែត្រ ធ្វើអំពីថ្មភក់ ដោយអមជាមួយនិងដងភ្នំតូចធំផ្សេងទៀតដែលនៅព័ទ្ធជុំវិញនោះពោរពេញទៅដោយបរិយាកាសបរិសុទ្ធព្រមទាំងភ្ញៀវទេសចរអាចទស្សនានូវទេសភាពធម្មជាតិដ៏ល្អប្រណិតនៃស្រុកគិរីវង់ទាំងមូលផងដែរ។</font></blockquote>

    <center><img src="../Tagscode/Image/JiTapich3.jpg"  title="ភ្នំជីតាពេជ្រ" width="450px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/JiTapich1.jpg"  title="ភ្នំជីតាពេជ្រ" width="450px" height="550px" hspace="5px" vspace="3px" border="3" >
        <img src="../Tagscode/Image/JiTaPich.jpg"  title="ភ្នំជីតាពេជ្រ"  width="450px" height="550px" hspace="5px" vspace="5px" border="3" ></center> <br>

    <blockquote><font face="Kh Battambang" size="4px">ភ្នំជីតាពេជ្រជាឈ្មោះ និងជាទីកន្លែងមួយដែលបច្ចុប្បន្នត្រូវបានគេស្គាល់ច្រើន ក្នុងមជ្ឈដ្ឋានអ្នកចូលចិត្តដើរលេងកម្សាន្តតាមទីជិតឆ្ងាយ ពីព្រោះភ្នំជីតាពេជ្រគឺជា រមណីយដ្ឋានទេសចរណ៍ដែលទើបនឹង 
    បង្កើតឡើងរបស់ទឹកដីចំណាស់ខេត្តតាកែវ។
    អ្នកដើរកម្សាន្តបាននិយាយពីភាពល្បីពីមាត់មួយទៅមាត់មួយជាហេតុនាំឲ្យអ្នកទេសចរចង់ដឹងអំពីស្ថានភាពទីតាំង និងប្រវត្តិដើមភ្នំជីតាពេជ្រនេះឲ្យរឹតតែច្បាស់ព្រោះសម្រាប់អ្នកដែលពុំបានឃើញចង់ដឹងទាំងស្រុង
    ចំណែកអ្នកស្គាល់ហើយ រមែងមានចម្ងល់ពីប្រវត្តិដើមកំណើតទីតាំងនេះជាមិនខាន។</font></blockquote>

    <center><img src="../Tagscode/Image/JiTapich2.jpg"  title="ភ្នំជីតាពេជ្រ" width="450px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/JiTapich4.jpg"  title="ភ្នំជីតាពេជ្រ" width="450px" height="550px" hspace="5px" vspace="3px" border="3" >
<br>

    <hr color="gold" size="10px" width="100%">
</html>