<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>សារមន្ទីរស្រុកអង្គរបុរី</title>
</head>
<hr color="gold" size="10px" width="100%"> 
<Marquee bgcolor="yellow" behavior="scroll" scrollmount="1000s"
direction="left" loop="">This is my website[about Takeo.] | Ownership: No.6/Eab Rithea</Marquee>
<style>
    .main {
        text-align: center;
    }

    .marq {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .geek1 {
        font-size: 25px;
        font-weight: bold;
        color: white;
        padding-bottom: 10px;
    }
    .geek2 {
        font-size: 25px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        padding-bottom: 10px;
    }
</style>

    </style>
    <div class="main"></div>
        <marquee class="marq" bgcolor="DeepSkyBlue" behavior="alternate" scrollmount="100s"
                 direction="right" loop="">
            <div class="geek1">
               <font face="Kh Battambang"> សូមស្វាគមន៍មកកាន់ខេត្តតាកែវ</font>
            </div>
            <div class="geek2">
                Welcome to Takeo Province
            </div>
        </marquee>
    </div>

    <style>
        button{
            width: 250px;
            height: 50px;
            border-radius: 5px;
            background-color: gold;
            color: brown;
            margin-top: 5px;
            font-size: 15px;
        }
        button:hover{
            background-color: blue;
            transition: 0.5s;
        }
        .imag{
            border: solid 2px red;
            margin-top: 30px;
            border-radius: 10px;
        }
        #TBtn{
        position: fixed;
        bottom: 200px;
        float: center;
        right: 5px;
        left: 95%;
        max-width: 60px;
        width: 100%;
        font-size: 25px;
        border-color: rgb(255, 166, 0);
        background-color: rgb(255, 251, 0);
        padding: 5px;
        border-radius: 10px;
    }
/*On Hover Color Change*/
    #TBtn:hover {
        background-color: #7ec2f3;
    } 
        
    </style>
<button id="TBtn"><a href="#Top" style="color: rgb(255, 0, 0)">Top</a></button>  
    </style>
    <center>
                  <a href="indexPrac.html" target="_blank"><button><font face="Kh Battambang">Home</font></button></a>    
                  <a href="index02.html" target="_blank"><button><font face="Kh Battambang" color="Red">1.ភ្នំជីសូរ</font></button></a> 
                  <a href="index03.html" target="_blank"><button><font face="Kh Battambang" color="Red">2.ភ្នំដានិងភ្នំអង្គរបុរី</font></button></a>    
                  <a href="index04.html" target="_blank"><button><font face="Kh Battambang" color="Red">3.ភ្នំតាម៉ៅ</font></button></a>   
                  <a href="index05.html" target="_blank"><button><font face="Kh Battambang" color="Red">4.ភ្នំប៉ាយ៉ង់កោ</font></button></a>     
                  <a href="indexo6.html" target="_blank"><button><font face="Kh Battambang" color="Red">5.ភ្នំខ្លែង</font></button></a>    
                  <a href="indexo7.html" target="_blank"><button><font face="Kh Battambang" color="Red">6.ភ្នំជីតាពេជ្រ</font></button></a>     
                  <a href="index08.html" target="_blank"><button><font face="Kh Battambang" color="Red">7.ភ្នំសន្លុង</font></button></a>       
                  <a href="index09.html" target="_blank"><button><font face="Kh Battambang" color="Red">8.ភ្នំពុទ្ធគិរី</font></button></a>      
                  <a href="index10.html" target="_blank"><button><font face="Kh Battambang" color="Red">9.ប្រាសាទជប់ពល</font></button></a>     
                  <a href="index11.html" target="_blank"><button><font face="Kh Battambang" color="Red">10.ប្រាសាទតាព្រហ្មទន្លេបាទី</font></button></a>   
                  <a href="index12.html" target="_blank"><button><font face="Kh Battambang" color="Red">11.ប្រាសាទនាងខ្មៅ</font></button></a>      
                  <a href="index13.html" target="_blank"><button><font face="Kh Battambang" color="Red">12.រមណីយដ្ឋានទន្លេបាទី</font></button></a>     
                  <a href="index14.html" target="_blank"><button><font face="Kh Battambang" color="Red">13.រមណីយដ្ឋានកំពូលពេជ្រឬអន្លង់ភ្ញៀវ</font></button></a>    
                  <a href="index15.html" target="_blank"><button><font face="Kh Battambang" color="Red">14.រមណីយដ្ឋានត្រីមាស</font></button></a>     
                  <a href="index16.html" target="_blank"><button><font face="Kh Battambang" color="Red">15.រមណីយដ្ឋានទឹកជ្រោះផ្អោក</font></a>     
                  <a href="index17.html" target="_blank"><button><font face="Kh Battambang" color="Red">16.ទំនប់ម្លិច</font></button></a>     
                  <a href="index18.html" target="_blank"><button><font face="Kh Battambang" color="Red">17.ទំនប់ត្នោតទេរ</font></button></a>   
                  <a href="index19.html" target="_blank"><button><font face="Kh Battambang" color="Red">18.ទំនប់ខ្ពបត្របែក</font></button></a>   
                  <a href="index20.html" target="_blank"><button><font face="Kh Battambang" color="Red">19.សារមន្ទីរខេត្តតាកែវ</font></button></a>    
                  <a href="index21.html" target="_blank"><button><font face="Kh Battambang" color="Red">20.សារមន្ទីរស្រុកអង្គរបុរី</font></button></a>       
                  <a href="index22.html" target="_blank"><button><font face="Kh Battambang" color="Red">21.តំបន់ការពារទេសភាពបឹងព្រែកល្ពៅ</font></button></a> 
                  <a href="index23.html" target="_blank"><button><font face="Kh Battambang" color="Red">22.ក្រុងដូនកែវ</font></button></a>      
                  <a href="index24.html" target="_blank"><button><font face="Kh Battambang" color="Red">23.ភ្នំចំបាប់</font></button></a>     
                  <a href="index25.html" target="_blank"><button><font face="Kh Battambang" color="Red">24.ស្ពានកំពង់ចក</font></button></a>  
     </center>
     <hr color="red" size="10px" width="100%"> 
     <center><font face="Khmer OS Muol Light" size="6px" color="red">សារមន្ទីរស្រុកអង្គរបុរី</font></center>
     <blockquote><font face="Kh Battambang" size="4px">សារមន្ទីរស្រុកអង្គរបូរី ស្ថិតនៅក្នុងស្រុកអង្គរបូរីដែលមានរឿងរ៉ាវប្រវត្តិសាស្រ្តកំណើតនគរគោកធ្លក ដែនដីសុវណ្ណភូមិនាសម័យព្រះបាទហ៊ុនទៀន និងព្រះនាងលីវយី 
     ដែលសម្បូរទៅដោយវត្ថុបុរាណជាច្រើន។ 
     សារៈមន្ទីរអង្គរបុរី គឺជាមជ្ឈមណ្ឌលទេសចរណ៍​ប្រវត្តិសាស្រ្ដ​សម័យ​ហ្វូណន ដែលមានទីតាំងនៅក្នុងស្រុកអង្គរបុរី ខេត្តតាកែវ។ ដើម្បីទៅទស្សនាសារៈមន្ទីរអង្គរបុរី ភ្ញៀវទេសចរ​អាចជិះកាណូត ឬអូប័រ តាមព្រែកជីកពីទីរួមខេត្តតាកែវ ឆ្ពោះទៅទិសខាងកើត ក្នុងចម្ងាយជាង ២២គីឡូម៉ែត្រ។
     ប្រសិន​​បើ​លោក​អ្នក​​​​​​​​​ធ្វើ​ដំណើរ​​​​​ចេញ​ពី​​​​​រា​ជ​ធានីភ្នំពេញ​​​​តាមបណ្តោយ​​ផ្លូវ​ជាតិ​លេខ​​២​​ ​ប្រ​មាណ​​​​​៧៧​គីឡូ​ម៉ែត្រ​​​​​​ នឹង​ទៅ​​ដល់​​ទី​រួម​ខេត្ត​​​​តា​កែវ​​​​</font></blockquote>

     <blockquote><font face="Kh Battambang" size="4px">រូបបដិមាឈរស្វាគមន៍ភ្ញៀវទេសចរ​នៅច្រក​ទ្វារ​ចូលដោយទឹកមុខញញឹញយ៉ាងស្ងៀមស្ងាត់ គឺព្រះពុទ្ធរូបដែលសាងសង់ឡើងកាលពីសតវត្សទី៧។ ក្រៅពីរូបចម្លាក់ពីសម័យហ្វូណនជាច្រើននោះ សារៈមន្ទីរអង្គរបុរី 
     មានសិលាចារិកដែលនិយាយអំពីការធ្វើអំណោយផ្សេងៗរបស់ព្រះមហាក្សត្រ។ សារៈមន្ទីរនេះ ក៏មានតាំងបង្ហាញដុំឥត និងក្បឿងពីសម័យហ្វូណន ដែលត្រូវបានប្រើប្រាស់សម្រាប់ធ្វើជាកំពែងទីក្រុងផងដែរ
     សារមន្ទីរ​មាន​វត្ថុ​តាំង​បង្ហាញ​ដែល​រួម​មាន​គ្រឿង​អលង្ការ គ្រឿង​ស្មូន សំណល់​បុរាណ​វិទ្យា និង​ចម្លាក់​ថ្ម។ សារមន្ទីរមានវត្ថុបុរាណធ្វើពីថ្ម ដីឥដ្ឋ និងទង់ដែង។</font></blockquote>

     <center><img src="../Tagscode/Image/សារមន្ទីរអង្គរបុរី.១.jpg"  title="" width="450px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/សារមន្ទីរអង្គរបុរី.៧.jpg"  title="" width="450px" height="550px" hspace="5px" vspace="3px" border="3" >
        <img src="../Tagscode/Image/សារមន្ទីរអង្គរបុរី.៥.jpg"  title=""  width="450px" height="550px" hspace="5px" vspace="5px" border="3" ></center> <br>

     <blockquote><font face="Kh Battambang" size="4px">សារមន្ទីរក៏មានវត្ថុបុរាណពីសម័យនគរភ្នំ និងសម័យចេនឡា ផងដែរ។ សារមន្ទីរនេះមានបណ្តុំរូបចម្លាក់ព្រះវិស្ណុ និងព្រះសិវៈ ក៏ដូចជាបណ្តុំនៃសេរ៉ាមិចផងដែរ។
     វត្ថុបុរាណក្នុងសារមន្ទីរួមមាន វត្ថុយុគថ្មរំលីងពីប្រទេសកម្ពុជា ក៏ដូចជាវត្ថុដែលបានមកពីកំណាយបុរាណវត្ថុដែលមានអាយុកាល២.៥០០ ឆ្នាំ។ វត្ថុតាំងពិពណ៌ក្នុងសារមន្ទីររួមមានរូបបដិមាព្រះពុទ្ធ និងហិណ្ឌូ ប្រដាប់ប្រដា គ្រឿងស្មូន សិលាចារឹក គ្រឿងអលង្ការ ក៏ដូចជាហ្វូស៊ីលដែលមានអាយុកាលតាំងពីសម័យអង្គររហូតដល់សម័យក្រោយអង្គរ។ [៤]
     ភ្ញៀវទេសចរណ៍ជាតិនិងអន្តរជាតិ សិស្សនិស្សិតបញ្ញវ័ន្តសាស្រ្តាចារ្យ អាចមកទស្សនា សិក្សាស្រាវជ្រាវបានដោយអត់គិតថ្លៃរៀងរាល់ម៉ោងធ្វើការ។</font></blockquote>

     <center><img src="../Tagscode/Image/សារមន្ទីរអង្គរបុរី.៩.jpg"  title="" width="450px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/សារមន្ទីរអង្គរបុរី.១០.jpg"  title="" width="450px" height="550px" hspace="5px" vspace="3px" border="3" >
        <img src="../Tagscode/Image/សារមន្ទីរអង្គរបុរី.១១.jpg"  title=""  width="450px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/សារមន្ទីរអង្គរបុរី.៨.jpg"  title="" width="450px" height="550px" hspace="5px" vspace="5px" border="3" >
        <img src="../Tagscode/Image/សារមន្ទីរអង្គរបុរី.៤.jpg"  title="" width="450px" height="550px" hspace="5px" vspace="3px" border="3" >
        <img src="../Tagscode/Image/សារមន្ទីរអង្គរបុរី.១២.jpg" title=""  width="450px" height="550px" hspace="5px" vspace="5px" border="3" ></center> <br>
    
            <hr color="gold" size="10px" width="100%"> 
</html>